<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <h3>process.env.PORT = <%= port %></h3>
    <h3>process.env.DB_URI = <%= db_uri %></h3>
  </body>
</html>
